.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 470px;
  background-color: var(--white);
  border-radius: 4px;
  z-index: 100;
}
.notification .notification__wrapper {
  position: relative;
  display: flex;
  min-height: 65px;
  margin: auto;
  padding: 20px 30px;
}
.notification .notification__wrapper .notification__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  background-color: transparent;
  border-radius: 50%;
}
.notification .notification__wrapper .notification__text {
  line-height: 1.2;
}
.notification .notification__wrapper .notification__cross {
  position: absolute;
  padding: 5px;
  top: 5px;
  right: 5px;
  background: var(--white);
}
.notification .notification__wrapper .notification__cross img {
  width: 20px;
  height: 20px;
}
.notification.isSuccess {
  border: 1px solid var(--success);
  border-left-width: 5px;
}
.notification.isSuccess .notification__wrapper .notification__icon {
  font-size: 12px;
  color: var(--success);
  border: 2px solid var(--success);
}
.notification.isError {
  border: 1px solid var(--error);
  border-left-width: 5px;
}
.notification.isError .notification__wrapper .notification__icon {
  font-size: 16px;
  color: var(--error);
  border: 2px solid var(--error);
}