.inputBlock {
  position: relative;
}
.inputBlock .warning {
  border: 2px solid var(--warning);
}
.inputBlock .error {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 4px 0 0 3px;
}
.inputBlock .error span {
  font-size: 12px;
  margin: 0 0 0 10px;
}