MYSQL_HOST=localhost
MYSQL_DATABASE=hackathon
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_password

CORS_ALLOWED_ORIGINS=http://localhost:3001
