.membersRegistration .membersRegistration__fields .fields__team {
  width: 100%;
  max-width: 47.3684210526%;
  margin: 0 0 20px 0;
}
.membersRegistration .membersRegistration__fields .fields__member {
  display: flex;
  gap: 15px;
  margin: 0 0 20px 0;
}
.membersRegistration .membersRegistration__member {
  display: flex;
  gap: 15px;
  margin: 0 0 20px 0;
  width: 100%;
}
.membersRegistration .membersRegistration__member .member__field {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  background: var(--bright-blue);
  border-radius: 10px;
  padding: 0 10px 0 20px;
  font-weight: 600;
  line-height: 135%;
  color: var(--dark-text);
}
.membersRegistration .member__button {
  width: 100%;
  max-width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bright-blue);
  border-radius: 10px;
}
.membersRegistration .member__button:hover {
  background-color: var(--bright-blue-hover);
}
.membersRegistration .membersRegistration__btn-send {
  width: 100%;
  max-width: 47.3684210526%;
}

@media (max-width: 999.98px) {
  .membersRegistration .membersRegistration__fields .fields__team {
    max-width: 58%;
  }
  .membersRegistration .membersRegistration__btn-send {
    max-width: 58%;
  }
}
@media (max-width: 799.98px) {
  .membersRegistration .membersRegistration__fields .fields__member {
    gap: 10px;
  }
  .membersRegistration .membersRegistration__member {
    gap: 10px;
  }
  .membersRegistration .member__button {
    max-width: 40px;
  }
}
@media (max-width: 699.98px) {
  .membersRegistration .membersRegistration__fields .fields__member {
    gap: 15px;
  }
  .membersRegistration .membersRegistration__member {
    gap: 15px;
  }
  .membersRegistration .member__button {
    max-width: 54px;
  }
}
@media (max-width: 599.98px) {
  .membersRegistration .membersRegistration__fields .fields__team {
    max-width: 300px;
  }
  .membersRegistration .membersRegistration__fields .fields__member {
    gap: 10px;
  }
  .membersRegistration .membersRegistration__member {
    gap: 10px;
  }
  .membersRegistration .membersRegistration__btn-send {
    max-width: 300px;
  }
}
@media (max-width: 499.98px) {
  .membersRegistration .membersRegistration__member .member__field {
    padding: 0 8px 0 10px;
    font-size: 16px;
  }
}
@media (max-width: 419.98px) {
  .membersRegistration .member__button {
    max-width: 36px;
  }
}