.modalEvent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  h2 {
    margin: 0;
  }
  .modalEvent__select-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3 {
      margin: 0;
    }
  }
}
.modalEvent__delete {
  padding: 20px 0 0 0;
  font-weight: 400;
  line-height: 135%;
  text-align: center;
  color: #dc1d1d;
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}