.textareaBlock {
  position: relative;
}
.textareaBlock .showWarning {
  border: 2px solid var(--warning);
}
.textareaBlock .error {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 0 0 0 3px;
}
.textareaBlock .error img {
  width: 18px;
  height: 18px;
}
.textareaBlock .error span {
  font-size: 12px;
  margin: 0 0 0 10px;
  line-height: 1.2;
}

@media (max-width: 599.98px) {
  .textareaBlock .error span {
    line-height: 0.8;
    font-size: 11px;
  }
}
@media (max-width: 599.98px) {
  .textareaBlock .error span {
    margin: 0 0 0 3px;
  }
}
@media (max-width: 399.98px) {
  .textareaBlock .error img {
    display: none;
  }
  .textareaBlock .error span {
    margin: 0;
  }
}