.header {
  height: 65px;
  background: var(--white);
  border-bottom: 1px solid rgba(36, 38, 46, 0.2);
}
.header .wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .wrapper .header__logo {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}
.header .wrapper .header__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 60px;
}
.header .wrapper .header__map {
  display: flex;
  gap: 8px;
}
.header .wrapper .header__map p {
  margin: auto 0;
}