.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
}
.loading .loading__spinner {
  width: 50px;
  height: 50px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 5px;
  border-top-color: #000000;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}