.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  .filters__item {
    position: relative;
    .filters__item-title {
      display: flex;
      align-items: end;
      gap: 2px;
      cursor: pointer;
      p {
        line-height: 135%;
      }
      img {
        width: 20px;
        height: 20px;
        transition: all 0.3s ease-in-out 0s;
      }
      &:hover {
        color: var(--main);
      }
      &.open {
        img {
          transform: scaleY(-1);
        }
      }
    }
  }
  .filters__options-container {
    position: absolute;
    top: 35px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background: var(--white);
    border: 1px solid var(--main);
    border-radius: 10px;
    z-index: 2;
  }
}
.filters__selected {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 30px 0 0 0;
  &.show {
    display: flex;
  }
  .filters__selected-card {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid #c6d2ff;
    border-radius: 10px;
    padding: 10px 20px 12px 20px;
    p {
      line-height: 135%;
      white-space: nowrap;
    }
    .filters__selected-icon {
      padding: 0 0 0 5px;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .filters__selected-clear {
    line-height: 135%;
    opacity: 0.7;
    padding: 0 0 0 10px;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 699.98px) {
  .filters__selected {
    gap: 15px;
    .filters__selected-card {
      border-radius: 7px;
      padding: 8px 16px 10px 16px;
    }
  }
}

@media (max-width: 399.98px) {
  .filters {
    flex-direction: column;
    gap: 15px;
    .filters__item {
      width: fit-content;
    }
  }
  .filters__selected {
    padding: 25px 0 0 0;
  }
}