.wrapper {
  .eventPage {
    margin: 60px 0 0 0;
    .crumbs {
      margin: 0 0 30px 0;
    }
    .eventPage__card {
      display: flex;
      gap: 40px;
      margin: 0 0 120px 0;
      .eventPage__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .eventPage__info-up {
          .info__completed {
            margin: 0 0 10px 0;
            border-radius: 10px;
            padding: 8px 20px;
            font-size: 14px;
            line-height: 135%;
            width: fit-content;
            &.finished {
              background: #e0e0e0;
            }
            &.registration {
              color: #4a3737;
              background: #ffc6c6;
            }
            &.free {
              color: #323f31;
              background: #cbffc6;
            }
          }
          h1 {
            margin: 0 0 25px 0;
          }
          .info__options {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
            margin: 0 0 25px 0;
            .iconText {
              gap: 5px;
            }
          }
        }
        .info__button {
          max-width: 360px;
        }
      }
    }
    .eventPage__description {
      display: flex;
      gap: 40px;
      margin: 0 0 120px 0;
      p {
        max-width: 560px;
        line-height: 135%;
      }
    }
    .eventPage__registration {
      display: flex;
      gap: 40px;
      margin: 0 0 120px 0;
      .registration__fields {
        max-width: 360px;
        width: 100%;
        .registration__input {
          width: 100%;
          margin: 0 0 20px 0;
        }
        .registration__btn-add {
          margin: 0 0 30px 0;
        }
        button {
          width: 100%;
          max-width: 360px;
        }
      }
    }
    .eventPage__results {
      display: flex;
      gap: 40px;
      margin: 0 0 120px 0;
      .results__info {
        p {
          line-height: 2;
          margin: 0 0 10px 0;
        }
        a {
          line-height: 135%;
          text-decoration: underline;
          color: var(--main);
        }
      }
    }
  }
}
.column-left {
  width: calc(360/1160*100%);
  min-width: calc(360/1160*100%);
  margin: 0;
}

@media (max-width: 1099.98px) {
  .wrapper {
    .eventPage {
      .eventPage__description {
        h2 {
          font-size: 38px;
        }
      }
      .eventPage__registration {
        h2 {
          font-size: 38px;
        }
      }
      .eventPage__results {
        h2 {
          font-size: 38px;
        }
      }
    }
  }
}

@media (max-width: 999.98px) {
  .column-left {
    width: calc(330/1160*100%);
    min-width: calc(330/1160*100%);
  }
  .wrapper {
    .eventPage {
      .eventPage__card {
        .eventPage__info {
          .eventPage__info-up {
            h1 {
              font-size: 48px;
              margin: 0 0 20px 0;
            }
            .info__options {
              margin: 0 0 20px 0;
            }
          }
        }
      }
      .eventPage__description {
        h2 {
          font-size: 28px;
        }
      }
      .eventPage__registration {
        h2 {
          font-size: 28px;
        }
      }
      .eventPage__results {
        h2 {
          font-size: 28px;
        }
      }
    }
  }
}

@media (max-width: 799.98px) {
  .column-left {
    width: 32%;
    min-width: 32%;
  }
  .wrapper {
    .eventPage {
      .eventPage__card {
        .eventPage__info {
          .eventPage__info-up {
            h1 {
              font-size: 40px;
              margin: 0 0 15px 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 699.98px) {
  .wrapper {
    .eventPage {
      .eventPage__card {
        .eventPage__info {
          .eventPage__info-up {
            h1 {
              font-size: 36px;
            }
            .info__options {
              gap: 15px;
            }
          }
        }
      }
      .eventPage__description {
        flex-direction: column;
        gap: 20px;
        h2 {
          width: 100%;
        }
      }
      .eventPage__registration {
        flex-direction: column;
        gap: 20px;
        h2 {
          text-align: center;
          width: 100%;
        }
        .registration__fields {
          margin: 0 auto;
          .registration__input {
            display: block;
            margin: 0 auto 20px;
          }
          .registration__btn-add {
            margin: 0 auto 30px;
          }
          button {
            display: block;
            margin: 0 auto;
          }
        }
      }
      .eventPage__results {
        flex-direction: column;
        gap: 20px;
        h2 {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 599.98px) {
  .column-left {
    max-width: 440px;
    width: 100%;
  }
  .wrapper {
    .eventPage {
      .eventPage__card {
        margin: 0 0 80px 0;
        flex-direction: column;
        gap: 25px;
        .eventPage__info {
          .eventPage__info-up {
            h1 {
              margin: 0 0 20px 0;
            }
          }
        }
      }
      .eventPage__description {
        margin: 0 0 80px 0;
      }
      .eventPage__registration {
        margin: 0 0 80px 0;
      }
      .eventPage__results {
        margin: 0 0 80px 0;
      }
    }
  }
}

@media (max-width: 499.98px) {
  .wrapper {
    .eventPage {
      .eventPage__description {
        h2 {
          font-size: 24px;
        }
      }
      .eventPage__registration {
        h2 {
          font-size: 24px;
        }
      }
      .eventPage__results {
        h2 {
          font-size: 24px;
        }
      }
    }
  }
}