.modalMembers {
  display: flex;
  flex-direction: column;
  gap: 30px;
  h2 {
    margin: 0;
  }
  .modalMembers__category {
    .category__title {
      margin: 0 0 5px 0;
    }
    .category__teams {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin: 0 0 0 20px;
      .category__team {
        .team__title {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
        }
        .team__members {
          .team__member {
            line-height: 24px;
          }
        }
      }
    }
    .category__members {
      margin: 0 0 0 20px;
      .category__member {
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}