.mini-card {
  width: calc((100% - 80px)/3);
  line-height: 135%;

  .mini-card__description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0 0 0;
    margin: 0 0 20px 0;
  }
  .mini-card__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    button {
      width: 100%;
    }
  }
}


@media (max-width: 999.98px) {
  .mini-card {
    width: calc((100% - 40px)/2);
    line-height: 135%;
  }
  .delete-small {
    display: none;
  }
}

@media (max-width: 599.98px) {
  .mini-card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}