/*--------- CONST ----------*/
:root {
  --font-family: 'Manrope', sans-serif;
  --dark-main: #24262E;
  --dark-text: #42444C;
  --main: #263681;
  --white: #FFFFFF;
  --main-background: #F6F8FF;
}

/*--------- NULLING STYLE ----------*/
*{
	padding: 0;
	margin: 0;
	border: 0;}
*,*:before, after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	min-height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family);
  background-color: var(--main-background);
  color: var(--dark-main);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;}
div, p, a, span {font-family: var(--font-family);}
input,button,textarea{font-family: var(--font-family);}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-mox-focus-inner {padding:0; border:0;}
a, a:visited{text-decoration: none; cursor: pointer;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{display: block; vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-family: var(--font-family); font-weight:600;}

/*--------- STYLES ---------*/

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 64px;
  line-height: 110%;
}

h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 42px;
  line-height: 110%;
}

h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}

.button {
  border-radius: 10px;
  padding: 14px 10px 16px 10px;
  background: var(--main);
  line-height: 135%;
  color: var(--white);
}
.button:hover {
  background: #3a4a95;
}

.second-button {
  border: 2px solid var(--main);
  border-radius: 10px;
  padding: 14px 10px 16px 10px;
  line-height: 135%;
}
.second-button:hover {
  background: var(--main);
  color: var(--white);
}