.errorNotification {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 470px;
  background-color: var(--white);
  border: 1px solid var(--error);
  border-left-width: 5px;
  border-radius: 4px;
  z-index: 100;
}
.errorNotification .errorNotification__wrapper {
  position: relative;
  display: flex;
  min-height: 65px;
  margin: auto;
  padding: 20px 30px;
}
.errorNotification .errorNotification__wrapper .errorNotification__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  color: var(--error);
  background-color: transparent;
  border: 2px solid var(--error);
  border-radius: 50%;
}
.errorNotification .errorNotification__wrapper .errorNotification__text {
  line-height: 1.2;
}
.errorNotification .errorNotification__wrapper .errorNotification__cross {
  position: absolute;
  padding: 5px;
  top: 5px;
  right: 5px;
  background: var(--white);
}
.errorNotification .errorNotification__wrapper .errorNotification__cross img {
  width: 20px;
  height: 20px;
}